@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #262626;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262626;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  
  @font-face {
    font-family: "CircularStd-Book";
    src: url("/fonts/CircularStd-Book.otf");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "CircularStd-Medium";
    src: url("/fonts/CircularStd-Medium.otf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "CircularStd-Black";
    src: url("/fonts/CircularStd-Black.otf");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "CircularStd-Bold";
    src: url("/fonts/CircularStd-Bold.otf");
    font-weight: 600;
    font-style: normal;
  }

  button, select {
    text-transform: none;
    outline: none;
  }
};


